.hero{
	margin-top: 2em;
	div{
		div.hero-one{
			img{
				width: 520px;
				height: 320px;
				object-fit: cover;
			}
			h4{
				margin-top: 2em;
				font-size: 1em;
			}
			h3{
				font-size: 1.3em;
			}
		}
		div.hero-post{
			div{
				div{
					img{
						width: 180px;
						height: 160px;
						object-fit: cover;
						margin-bottom: 15px;
					}
					h3{
						font-size: 0.8em;
					}
				}
			}
		}
	}
}