.sidebar{
	margin: 3em 0 0 2em;
	div{
		width: 100%;
			.at-share-btn-elements{
			display: flex;
			flex-direction: column;
			width: 100%;
			a{
				width: 100%;
				display: block;
			}
		}
	}
	.widget_media_image{
		margin-top: 1.5em;
		img{
			width: 100%;
		}
	}
	.button-side{
		text-transform: uppercase;
		background-color: $color;
		border: 1px solid $color;
		color: white;
		padding: 1em 1.5em;
		margin-top: -2em;
	}
}